<div class="container">
  <div class="content-container">
    <div class="contact-container">
      About
    </div>
    <div class="row">
      <img src="./assets/urbana-tanning-location.jpg" alt="">
      <div class="text">
        <h1><span class="capitalize">O</span>ur Mission</h1>
        <div class="gray-line"></div>
        <p>
          &emsp;<span class="capitalize">W</span>e welcome everyone to our tanning facility. The owners and staff work hard to provide an extremely clean and friendly tanning salon.
          At Urbana Tanning, we understand our clients busy lifestyles and do our best to make your time with us a stress-free and enjoyable experience. We pay close attention to the little details and strive to make your visit unlike any other. You can escape from your complex life and enjoy yourself while relaxing in our clean and friendly salon.
          Urbana Tanning offers a wide variety of the newest, state of the art equipment at affordable and competitive rates. We also offer UV free tanning and spa services such as Formostar and a Hydration station. Our knowledgeable staff will make sure to assist you in getting the best tan possible as we are committed to supporting and enhancing the lifestyle of our customers.
        </p>
      </div>

      </div>

    </div>
  </div>
