<div class="footer">
    <div class="row">
      <div class="row-item">
        <h3>Give us your Thoughts</h3>
        <p>Urbana Tanning is always looking for feedback, ideas, and suggestions from the community. If you have any thoughts or would just like to let people know about your experience with Urbana Tanning, please drop us a line...Cheers!</p>
        <a class="footer-link" href="#">Contact Us!</a>
      </div>
      <div class="vertical-line"></div>
      <div class="row-item">
        <h3>Emplotment Opportunity</h3>
        <p>Click on the link below to find our easy employment application!</p>
        <a class="footer-link" href="#">Click Here To Apply</a>
      </div>
      <div class="vertical-line"></div>
      <div class="row-item">
        <h3>Contact Info</h3>
        <p ><i class="far fa-clock"></i>BUSINESS HOURS:<br> Monday-Saturday: 9am-9pm<br> Sunday: 10:00am-6:00pm</p>
        <h5 class="info-content"></h5>
        <h5 class="info-content"></h5>
        <p ><i class="far fa-address-book"></i>Address: 3531 John Simmons St. Suite D09 Urbana, MD 21704(Next to Chopstix)</p>
        <p ><i class="fas fa-phone"></i>Phone: 301-810-5259</p>
        <p><i  class="fas fa-envelope"></i>Email: <span class="footer-link">contact@UrbanaTanning.com</span></p>
      </div>
      <div class="vertical-line"></div>
      <div class="row-item">
        <h3>Follow Us On Social Media!</h3>
        <p>Join us on Facebook for special offers and announcements!</p>
        <div class="media-container">
          <a href="https://www.facebook.com/UrbanaTanning"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
</div>
