<div class="container">
  <div class="content-container">
    <div class="contact-container">
      Tanning Services
    </div>
    <div class="row">
      <div class="row-item">
        <img src="./assets/tanning/cobra.jpg" alt="">
        <h4 class="title">$12 Single Session </h4>
        <h4 class="level">Starter Bed</h4>
        <h4 class="description">Montego Bay Cobra UXF - tan for 20 minutes max</h4>
        <p>The silver level is the lowest level, it's great for those who need to build a base, like to lay longer, are looking for UVB rays, and don’t mind coming more often to maintain their tan. </p>
      </div>
      <div class="row-item">
        <img src="./assets/tanning/solarforce2-648.jpg" alt="">
        <h4 class="title">$20 Single Session </h4>
        <h4 class="level">Mid Level Bed</h4>
        <h4 class="description">Solarforce 648 - tan for 12 minutes max</h4>
        <p>The solarforce 648 is a step op from the montego bay cobra.  It gives you a great base tan in almost half the time.  If you need to get into the shop and out, it's a great option for you. </p>
      </div>
      <div class="row-item">
        <img src="./assets/tanning/solarforce-652.jpg" alt="">
        <h4 class="title">$20 Single Session </h4>
        <h4 class="level">Mid Level Bed</h4>
        <h4 class="description">Solarforce 652 - tan for 9 minutes max</h4>
        <p>Middle level,highest amounts of UVB rays, best for building a base for tropical sun, great if you like to stand up, or to get an even, all-over tan. </p>
      </div>
      <div class="row-item">
        <img src="./assets/tanning/velocityhp-1000.jpg" alt="">
        <h4 class="title">$23 Single Session </h4>
        <h4 class="level">Advanced Bed</h4>
        <h4 class="description">Velocity HP 1000 - tan for 15 minutes max</h4>
        <p>Middle level, even mix UVA/UVB great for getting faster color that lasts longer in a more comfortable bed.</p>
      </div>
      <div class="row-item">
        <img src="./assets/tanning/sunscape-bronzer.jpg" alt="">
        <h4 class="title">$25 Single Session </h4>
        <h4 class="level">Advanced Bed</h4>
        <h4 class="description">Sunscape Bronzer - tan for 10 minutes max</h4>
        <p>The Sunscape Bronzer is power and effective.  It will give you an incredibly long lasting tan in only a handful of minutes </p>
      </div>

    </div>


  </div>
</div>
