<div class="container">
  <div class="content-container">
    <div class="contact-container">
      Weight Loss
    </div>
    <div class="row">
      <img src="./assets/weight-loss/formostar.jpg" alt="">
      <div class="text">
        <h1>Formostar Explained</h1>
        &emsp;Real fat loss & reduction in appearance of cellulite: Unlike other body wrap systems that help you lose water weight, Formostar helps you tone your muscles, define your body and keep weight off permanently. Approximately 900 to 1400 calories are burned in each treatment session, so you will see results accumulate fast. Most people lose about one size every six to ten sessions. We can also target cellulite, to smooth skin and get rid of unsightly ripples and bumps. Lose inches, and reduce fat without surgery or diets. The most deeply penetrating of all heat-treatment systems, our Formostar Infrared body wraps can eliminate deep toxins. Infrared heat is a proven method for activating your body's natural enzymes and metabolic cellular activity. Combined with proper hydration, you will feel the difference in days!
        Our top-of-the-line Formostar equipment and spa-like environment ensures a warm, soothing and restful session. You also benefit from the infrared body wrap's ability to rejuvenate your skin, resulting in softer, smoother skin and firmer body tone. You'll notice a difference - stretch marks and cellulite are visibly reduced
      </div>
    </div>
    <div class="row">
      <img src="./assets/weight-loss/hydration-station.jpg" alt="">
      <div class="text">
        <h1>Hydration Station Explained</h1>
        <p>
          &emsp;Hydration Station ™ incorporates Hydrofusion™, a proprietary combination of topical radiant heat and steam, LED color technology, and a vibratory bed in an advanced capsule. This powerful combination leaves skin looking soft, supple and radiantly beautiful! Moisturized skin tans more evenly and deeper than dry, scaly skin.
          Far Infrared rays stimulate your endocrine system, which boosts your metabolism. Far Infrared activates the production of sugars, fats and proteins. When this process is disturbed, so is your cell’s metabolism. The result is your body’s sluggish ability to burn fats and remove toxins – AND a load of other health problems
          Far Infrared Rays increase your metabolism, burns excess fat and calories, improves body curves as it gets rid of flab, eliminates fatigue, improves blood circulation, promotes rapid healing, reduces cellulite……the list goes on and on!
        </p>
      </div>
    </div>

  </div>
</div>
