<div class="wrap">
  <div class="title-page">
    <div class="title-header">Welcome To Urbana Tanning Salon
      <div class="title-content">Urbana Tanning is your neighborhood salon!  We offer the best and newest existing services.
        Infuse yourself with beauty today. </div>
        <button> <a href="/about"> Read More </a></button>
      </div>
    </div>
    <div class="content-container">
      <!-- <div class="contact-container">
      Welcome
    </div> -->
    <div class="row">
      <div class="services">
        <div class="service">
          <img src="./assets/services/tanning.jpg" alt="">
          <h2>Tanning</h2>
          <p>Urbana Tanning offers three levels of tanning beds. These beds will produce a gentle base and continue to provide you with a deep dark tan. To maintain your deep dark tan we offer a great bronzing bed.</p>
        </div>
        <div class="service">
          <img src="./assets/services/airbrush.jpg" alt="">
          <h2>Airbrush</h2>
          <p>Urbana Tanning offers a UV free spray tan which provides a very natural-looking tan. If you're looking for a personal, customized UV Free Spray Tan, Urbana Tanning has trained, friendly staff members who will apply a beautiful and natural looking Air Brush Tan. Perfect for any occasion</p>
        </div>
        <div class="service">
          <img src="./assets/services/formostar.jpg" alt="">
          <h2>Formostar</h2>
          <p>Thermal infrared heat from Formostar helps to burn energy and rid your body of chemicals that you consume every day. Its soothing infrared calorie burning energy helps tilt the balance between calories consumed and calories burned.</p>
        </div>
        <div class="service">
          <img src="./assets/services/hydration3.jpg" alt="">
          <h2>Hydration</h2>
          <p>
            Hydration Station ™ incorporates Hydrofusion™, a proprietary combination of topical radiant heat and steam, LED color technology, and a vibratory bed in an advanced capsule. This powerful combination leaves skin looking soft, supple and radiantly beautiful!
            Moisturized skin tans more evenly and deeper than dry, scaly skin.
          </p>
        </div>
      </div>
    </div>
  </div>
