
$box-shadow: 0 0 5px 2px rgba(0,0,0,.10);


.wrap {
  width: 100%;
  min-height: 100%;
  background: url("../../../../assets/theone.jpg");
  margin-bottom: 250px;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1px;
  display: flex;
  flex-direction: column;

}

a {
  text-decoration: none;
  color: white;


}

.content-container {
  background-color: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

}

.contact-container {
   background-color: #4D4D4D;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;


}

.title-page {
  color: white;
  text-align: center;
  height: 1000px;
  background-color: rgba(255, 255,255, 0.0);


  .title-header {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
  }

  .title-content {
    font-weight: normal;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }

  button {

    cursor: pointer;
    background:linear-gradient(#91ebff,#24d8ff);
    color: white;
    border: none;
    outline: none;
    padding: 20px 30px;
    font-size: 24px;




    &:hover a {
      color: #e5e5e5;
      transition: color 0.3s;
    }
  }


}



// Serices
.services {
  display: flex;
  flex-direction: row;
  color: gray;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 50px;




  .service {
    width: 20%;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }



    h2 {
        color: #666666;
        font-size: 50px;
        padding: 0;
        margin: 0;
        width: 40%;
        margin-left: auto;
        margin-right: auto;

    }
  }


}
