<nav>
  <div class="logo">
    <div class="heading">
      <a href="/">Urbana Tanning</a>
    </div>
  </div>

  <ul>
    <li><a class="active" href="/">Welcome</a></li>

    <div class="dropdown">
      <li><a class="primary"  href="/tanning">Services</a>
        <div class="dropdown-content">
          <a href="/tanning">Tanning</a>
          <a  href="/weight-loss">Weight Loss</a>
        </div>
      </li>
    </div>
    <li><a class="primary" href="/pricing">Pricing</a></li>
    <li><a class="primary" href="/about">About</a></li>
    <li><a class="primary" href="/contact">Contact</a></li>
  </ul>
</nav>
